<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem id="wise_project_menu_roott"
        name="Wisenetic-1"        
        sequence="30">    

        <menuitem id="wise_projects"            
            sequence="10"
            action="action_projects_wise">
        </menuitem>

        <menuitem id="wise_task"            
            sequence="20"
            action="action_task">
        </menuitem>        
    </menuitem>
</odoo>
